*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:1rem;
}
h1{
    font-size:50px;
}
div{
    width: 70%;
}
.labels{
    font-size: 1.5rem;
}
div,input,label,option,select{
    margin-top: 10px;
}
input[type=text],input[type=email]{
    width: 45%;
    height: 25px;
}
