
h1 {
  color: brown;
  text-align: center;
}
h1:hover {
  /* opacity saydamlık kat sayısıdır. yazıyı silik yani saydam yapar  */
  opacity: 0.5;
  cursor: pointer;

  /* cursor:pointer; el işareti yapar farenin okunu*/
}
li {
  list-style-type: none;
  color: saddlebrown;
}
li:hover {
  color:brown;
  font-weight: 800;
  cursor: pointer;
  background-color:tomato;
}
li {
  background-color: antiquewhite;
  text-align: center;
  width: 100px;
  border: 2px solid antiquewhite;
  border-radius: 10px;
  border-style: solid;
  padding:3px;
  display: inline-block;
}
/* Class'a göre seçim*/
.img-div {
  text-align: center;
}


