
h1 {
  color: brown;
  text-align: center;
}
h1:hover {
  opacity: 0.5;
  cursor: pointer;


}
li {
  list-style-type: none;
  color: saddlebrown;
  background-color: antiquewhite;
  text-align: center;
  width: 100px;
  border: 2px solid antiquewhite;
  border-radius: 10px;
  border-style: solid;
  padding:3px;
  display: inline-block;
}
li:hover {
  color:brown;
  font-weight: 800;
  cursor: pointer;
  background-color:tomato;
}



